.stickytooltip{
	box-shadow: 5px 5px 8px #818181; /*shadow for CSS3 capable browsers.*/
	-webkit-box-shadow: 5px 5px 8px #818181;
	-moz-box-shadow: 5px 5px 8px #818181;
	display:none;
	position:absolute;
	display:none;
	border:1px solid #CCC; /*Border around tooltip*/
	background:white;
	z-index:3000;
}


.stickytooltip .stickystatus{ /*Style for footer bar within tooltip*/
	color:white;
	padding-top:5px;
	text-align:center;
	font-size: 11px;
	font-weight: bold;
	background-color: #0072BB;
}
