.amsify-suggestags-input-area .amsify-select-tag.col-bg{
	background-color: #EBEDF3 !important;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.7rem;
    border-radius: 0.42rem;
    color: #7E8299 !important;
}
.amsify-suggestags-input-area .amsify-remove-tag{
	padding-left: 10px;
	color: #B5B5C3 !important;
}
.amsify-suggestags-input-area.amsify-suggestags-input-area-default.decree2706.update-decree.form-control{
	border: 1px solid #E4E6EF;
	padding: 0.65rem 1rem !important;
}
.btn.btn-sm i, .btn-group-sm > .btn i, .btn i{
	padding-right: 0px !important;
}
.form-control[readonly]{
	background: #fafafa;
}
.action i{
	font-size: 13px !important;
}
.overflow-x{
	overflow-x: auto;
}
.card-custom{
	overflow-x: auto;
}